/*
StyleSheet
*/
/* 
    Created on : 20-Feb-2014, 20:19:06
    Author     : Josh
*/
body {
    margin-bottom: 80px;
}

.jumbotron {
    padding-top: 50px;
    padding-bottom: 15px;
}
/*.jumbotron, h1{
    font-size: 2em;
}
.jumbotron, p{
    font-size: 1.2em;
}
.jumbotron, p.btn{
    padding: 0.5em;
}*/